.profile-panel {
    width: 60%;
    margin: 10% auto;
    min-height: 600px;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    position: relative;
}

.elem {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.elem .field {
    max-width: 60%;
}

.icon-container {
    position: absolute;
    right: 1%;
    bottom: 1%;
}

.icon {
    background-color: #8E38FF;
}